svg {
    pointer-events: none;
}

path{
    pointer-events: auto;
}

.east{
    fill: red;
}

.north{
    fill: yellow;
}

.center{
    fill:blue;
}

.south{
    fill:green;
}

.ai{
    fill:darkgray;
}
