<!DOCTYPE html>
<html>
  <head>
    <title>Game 1: Understand Machine Learning and Poisonthe Training</title>
    <meta charset="UTF-8" />
  </head>

  <body>
      <form>
        <input type="radio" name="edit_mode" value="delete" id="edit_mode-delete">
        <label for="edit_mode-delete">Delete</label>
        <input type="radio" name="edit_mode" value="add" id="edit_mode-add">
        <label for="edit_mode-add">Add</label>
        <input type="number" id="edit_mode_counter" value="0" disabled>
        <button id="btn-train" href="#">Train Model</button>
        <div id="regression_formula"></div>
    </form>
    <div id="livarea-price-cont" />
    <div id="loss-cont"></div>
    <div id="slm-predictions-cont"></div>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.0.0/papaparse.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-1.48.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2.2/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis@1.1.0"></script>

    <script type="module" src="/js/games/regression.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/games/regression.css">
  </body>
</html>
