<!DOCTYPE html>
<html>
  <head>
    <title>Build a simple Neural Network with TensorFlow.js</title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <div id="qual-cont" />
    <div id="liv-area-cont" />
    <div id="year-cont" />
    <div id="year-price-cont" />
    <div id="qual-price-cont" />
    <div id="livarea-price-cont" />
    <div id="loss-cont"></div>
    <div id="acc-cont"></div>
    <div id="slm-predictions-cont"></div>
    <div id="lm-predictions-cont"></div>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.0.0/papaparse.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-1.48.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2.2/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis@1.1.0"></script>

    <script type="module" src="/js/games/regression.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/games/regression.css">
  </body>
</html>
